@import "../../scss/colors.scss";

:local {
    .Sidebar {
        width: 30%;
        height: 100%;
        background-color: $Sidebar;
        padding: 20px;
    }

    .Header {
        text-align: center;
    }

    .AddConnection {
        display: grid;

        input {
            margin-bottom: 10px;
        }
    }

    .Divider {
        margin: 25px;
        border: solid 1px #ccc;
    }
}