$PrimaryButton: #494;
$SecondaryButton: #444;
$ActiveButton: #363;
$DisabledButton: #6a6;

$White: #fff;
$Grey: #ccc;
$DarkGrey: #555;
$Black: #444;
$Green: #494;

$Sidebar: #dde;

$Highlight: #ccdecc;